{{define "info.tmpl"}}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>杨青青个人博客</title>
<link href="/static/css/base.css" rel="stylesheet">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<script src="/static/js/jquery.js"></script>
<script src="/static/js/nav.js"></script>
</head>
<body>
<header>
  <div class="touxiang"><i><img src="/static/images/yangqq.png" alt="杨青青"></i>
    <h2>杨青青</h2>
    <p>一个爱好前端设计的80后女站长。</p>
  </div>
  <p class="guanzhu">关注我<img src="/static/images/wx.png" alt="杨青青个人微信号：476847113" class="weixin"></p>
  <nav>
    <ul>
      <li><a href="index">网站首页</a></li>
      <li><a href="sysy">碎言碎语</a></li>
      <li><a href="bkrj">博客日记</a></li>
      <li><a href="wdxc">我的相册</a></li>
      <li><a href="sjz">时间轴</a></li>
      <li><a href="gybz">关于博主</a></li>
      <li><a href="info">详情页</a></li>
    </ul>
  </nav>
</header>
<!--header end-->
<main>
  <p class="weizhi">您现在的位置是：<a href="/" target="_blank">网站首页</a>><a href="/" target="_blank">博客日记</a></p>
  <article>
    <div class="container">
      <h1>兴趣支撑梦想，兴趣是支撑我自己前行的动力</h1>
      <p class="blog_info"><span>2020-04-02</span><span>杨青青</span><span><a href="/" target="_blank">博客人生</a></span><span>1399</span><span>1200</span></p>
      <div class="tags"><a href="" target="_blank">兴趣</a> &nbsp; <a href="" target="_blank">梦想</a> &nbsp; <a href="" target="_blank">博客人生</a></div>
      <div class="content"> 在没有学习前端设计，在没有自己博客之前，我的兴趣爱好很多，比如阅读，看电影，爬山等。这些是生活当中自己排遣娱乐的一种方式。明明觉得自己很喜欢，但有时候还是会半途而废，其实，有兴趣只是起点，保有持久兴趣才是关键。
        <p>在学校的时候，我的专业是计算机软件，前端是第一学期的第一本书讲的课程。那会儿我不喜欢前端，出于是学校必修课程，所以不得不学，所有做的页面都是Table布局，我一点儿也学不进去。我可以在学校网吧里面熬夜装扮我的QQ空间，我也不愿意用表格去搭建一个网站。装扮QQ空间，我还能去结交点儿朋友，但是做网页，我不知道我要学这个干嘛。</p>
        <p><img alt="" src="https://www.yangqq.com/d/file/news/s/2020-04-02/b06f0385e0e4226794339fdd31419036.jpg" style="width: 500px; height: 333px;"></p>
        <p>直到交毕业设计，寝室的同学Copy来一份她高中同学做的网页，我们四个人，看得目瞪口呆。flash视频，音乐播放，图片点击再切换下一图，这些好多效果都在一个页面展示出来了，这样的毕业作品，我们四个人就是复制了他代码，改成自己的都改了好几天。</p>
        <p>就从改他的源码开始，我觉得网站开发很好玩，做这么漂亮的网页，可以放视频，放照片，放音乐等等，为我埋下一颗兴趣的种子。也许我的兴趣是比较灵动的内在动力，做一个自己的<a href="https://www.yangqq.com/" target="_blank">个人博客网站</a>，目的不为赚钱，只为了丰富自己，表现自己。</p>
        <p><img alt="" src="https://www.yangqq.com/d/file/news/s/2020-04-02/fedc9ba11e3a7d3aff1568c1f3b7f59e.jpg" style="width: 510px; height: 407px;"></p>
        <p>人在奋斗与进步的过程中最难办的是如何面对困难以及如何坚持下去。失去了兴趣，坚持不了多久。失去了意志力和自我控制力就难免会被带离初心与原生目标。</p>
        <p>其实<span style="color:#B22222;"><strong>我就想顺着自己的一条道儿走就可以了</strong></span>。</p>
        <div class="pagelist"></div>
      </div>
      <div class="info-pre-next">
        <p><span>上一篇</span><a href="/">忙碌是自由活着的一种底气</a></p>
        <p><span>下一篇</span><a href="/">7年，一个80后女站长与阿里云携手创业的真实故事</a></p>
      </div>
      <div class="otherlink">
        <h2>相关文章</h2>
        <ul>
          <li><a href="/sun/10.html" title="遇见你,是我平凡人生中最美的事情">遇见你,是我平凡人生中最美的事情</a></li>
          <li><a href="/love/9.html" title="追梦路上邂逅爱情,他们携手改写平凡人生!">追梦路上邂逅爱情,他们携手改写平凡人生!</a></li>
          <li><a href="/meet/8.html" title="理性精致穷,平凡人生的“见世面”之旅">理性精致穷,平凡人生的“见世面”之旅</a></li>
          <li><a href="/life/7.html" title="世界上最永恒的幸福就是平凡，人生中最长久的拥有就是珍惜。">世界上最永恒的幸福就是平凡，人生中最长久的拥有就是珍</a></li>
        </ul>
      </div>
      <div class="pinglun_box">
        <h2>文章评论</h2>
      </div>
    </div>
  </article>
  <!--article end-->
  
  <aside>
    <div class="search">
      <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
        <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
        <input name="show" value="title" type="hidden">
        <input name="tempid" value="1" type="hidden">
        <input name="tbname" value="news" type="hidden">
        <input name="Submit" class="input_submit" value="搜索" type="submit">
      </form>
    </div>
    <div class="tuijian">
      <h2 class="aside_title">站长推荐</h2>
      <ul>
        <li><a href="/" target="_blank"><i><img src="/static/images/001.jpg" alt="标题图片"></i>
          <p>每个人的生命里都一定会有这么一个人，他告诉我们什么是爱</p>
          </a></li>
        <li><a href="/" target="_blank"><i><img src="/static/images/002.png" alt="标题图片"></i>
          <p>人生就是越努力越幸运！</p>
          </a></li>
        <li><a href="/" target="_blank"><i><img src="/static/images/003.jpg" alt="标题图片"></i>
          <p>『旅行游记』假如你厌倦了现状,那就去云南吧</p>
          </a></li>
        <li><a href="/" target="_blank"><i><img src="/static/images/004.jpg" alt="标题图片"></i>
          <p>追梦路上邂逅爱情,他们携手改写平凡人生!</p>
          </a></li>
        <li><a href="/" target="_blank"><i><img src="/static/images/005.jpg" alt="标题图片"></i>
          <p>遇见你,是我平凡人生中最美的事情</p>
          </a></li>
      </ul>
    </div>
    <div class="love">
      <h2 class="aside_title">猜你喜欢</h2>
      <ul>
        <li><a href="/" target="_blank"><i><img src="/static/images/001.jpg" alt="标题图片"></i>
          <p>每个人的生命里都一定会有这么一个人，他告诉我们什么是爱</p>
          </a></li>
        <li><a href="/" target="_blank"><i><img src="/static/images/002.png" alt="标题图片"></i>
          <p>人生就是越努力越幸运！</p>
          </a></li>
        <li><a href="/" target="_blank"><i><img src="/static/images/003.jpg" alt="标题图片"></i>
          <p>『旅行游记』假如你厌倦了现状,那就去云南吧</p>
          </a></li>
        <li><a href="/" target="_blank"><i><img src="/static/images/004.jpg" alt="标题图片"></i>
          <p>追梦路上邂逅爱情,他们携手改写平凡人生!</p>
          </a></li>
        <li><a href="/" target="_blank"><i><img src="/static/images/005.jpg" alt="标题图片"></i>
          <p>遇见你,是我平凡人生中最美的事情</p>
          </a></li>
        <li><a href="/" target="_blank"><i><img src="/static/images/006.jpg" alt="标题图片"></i>
          <p>人生就是越努力越幸运！</p>
          </a></li>
      </ul>
    </div>
    <div class="tagsclous">
      <h2 class="aside_title">标签云</h2>
      <ul>
        <a href="/">
        <p>程序人生</p>
        </a><a href="/">
        <p>技术文摘</p>
        </a><a href="/">旅行</a><a href="/">行万里路</a><a href="/">女程序员</a><a href="/">HTML5</a><a href="/">小清新</a><a href="/">兴趣梦想</a><a href="/">美好的事情</a><a href="/">休闲</a><a href="/">技术文摘</a><a href="/">旅行</a><a href="/">行万里路</a><a href="/">女程序员</a><a href="/">互联网营销</a>
      </ul>
    </div>
  </aside>
  <!--aside end--> 
</main>
<footer>
  <p> © 2019-2020qingqingblog.com 版权所有：<a href="https://www.qingqingblog.com" target="_blank">杨青青个人博客</a></p>
  <p><span><a href="/" target="_blank">XML网站地图</a></span><span>备案号：<a href="/">津ICP备19004899</a></span><span><img src="/static/images/ga.png">公安备案号 12011602000311</span></p>
  <p></p>
</footer>
<!--footer end-->

</body>
</html>
{{end}}