{{define "sjz.tmpl"}}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>杨青青个人博客</title>
<link href="/static/css/base.css" rel="stylesheet">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<script src="/static/js/jquery.js"></script>
<script src="/static/js/nav.js"></script>
</head>
<body>
<header>
  <div class="touxiang"><i><img src="/static/images/yangqq.png" alt="杨青青"></i>
    <h2>杨青青</h2>
    <p>一个爱好前端设计的80后女站长。</p>
  </div>
  <p class="guanzhu">关注我<img src="/static/images/wx.png" alt="杨青青个人微信号：476847113" class="weixin"></p>
  <nav>
    <ul>
      <li><a href="index">网站首页</a></li>
      <li><a href="sysy">碎言碎语</a></li>
      <li><a href="bkrj">博客日记</a></li>
      <li><a href="wdxc">我的相册</a></li>
      <li><a href="sjz">时间轴</a></li>
      <li><a href="gybz">关于博主</a></li>
      <li><a href="info">详情页</a></li>
    </ul>
  </nav>
</header>
<!--header end-->
<main>
  <p class="weizhi">您现在的位置是：<a href="/" target="_blank">网站首页</a>><a href="/" target="_blank">我的相册</a></p>
  <div class="time_list">
    <ul>
      <li><span>2020-06-12</span><a href="/">人生就是越努力越幸运！</a></li>
      <li><span>2020-03-05</span><a href="" target="_blank">『旅行游记』假如你厌倦了现状,那就去云南吧</a></li>
      <li><span>2020-03-05</span><a href="" target="_blank">遇见你,是我平凡人生中最美的事情</a></li>
      <li><span>2020-03-05</span><a href="" target="_blank">追梦路上邂逅爱情,他们携手改写平凡人生!</a></li>
      <li><span>2020-03-05</span><a href="" target="_blank">理性精致穷,平凡人生的“见世面”之旅</a></li>
      <li><span>2020-03-05</span><a href="" target="_blank">世界上最永恒的幸福就是平凡，人生中最长久的拥有就是珍惜。</a></li>
      <li><span>2020-03-05</span><a href="" target="_blank">因为爱情,让这座城市无可替代</a></li>
      <li><span>2020-03-05</span><a href="" target="_blank">因为旅行，可以为平凡的生活加点料，挽救日渐枯萎的心。</a></li>
      <li><span>2020-03-05</span><a href="" target="_blank">平凡生活中自见伟大,快手上的他们无不传递着温暖</a></li>
      <li><span>2020-03-05</span><a href="" target="_blank">2020:努力工作,向生活重新出发!</a></li>
      <li><span>2020-03-05</span><a href="" target="_blank">旅行的意义是什么?这是我见过最美的答案</a></li>
      <li><span>2020-03-04</span><a href="" target="_blank">每个人的生命里都一定会有这么一个人，他告诉我们什么是爱</a></li>
    </ul>
  </div>
</main>
<footer>
  <p> © 2019-2020qingqingblog.com 版权所有：<a href="https://www.qingqingblog.com" target="_blank">杨青青个人博客</a></p>
  <p><span><a href="/" target="_blank">XML网站地图</a></span><span>备案号：<a href="/">津ICP备19004899</a></span><span><img src="/static/images/ga.png">公安备案号 12011602000311</span></p>
  <p></p>
</footer>
<!--footer end-->

</body>
</html>
{{end}}