{{define "sysy.tmpl"}}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>杨青青个人博客</title>
<link href="/static/css/base.css" rel="stylesheet">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<script src="/static/js/jquery.js"></script>
<script src="/static/js/nav.js"></script>
</head>
<body>
<header>
  <div class="touxiang"><i><img src="/static/images/yangqq.png" alt="杨青青"></i>
    <h2>杨青青</h2>
    <p>一个爱好前端设计的80后女站长。</p>
  </div>
  <p class="guanzhu">关注我<img src="/static/images/wx.png" alt="杨青青个人微信号：476847113" class="weixin"></p>
  <nav>
    <ul>
      <li><a href="index">网站首页</a></li>
      <li><a href="sysy">碎言碎语</a></li>
      <li><a href="bkrj">博客日记</a></li>
      <li><a href="wdxc">我的相册</a></li>
      <li><a href="sjz">时间轴</a></li>
      <li><a href="gybz">关于博主</a></li>
      <li><a href="info">详情页</a></li>
    </ul>
  </nav>
</header>
<!--header end-->
<main>
  <p class="weizhi">您现在的位置是：<a href="/" target="_blank">网站首页</a>><a href="/" target="_blank">碎言碎语</a></p>
  <div class="suiyan_list">
    <ul>
      <li><a href="/">
        <p class="suiyan_time">2020-05-28</p>
        <p class="suiyan_text">阳光正好，趁现在还年轻，去做的你想做的，去追逐你的梦想。</p>
        <span class="suiyan_5"></span></a></li>
      <li><a href="/">
        <p class="suiyan_time">2020-05-26</p>
        <p class="suiyan_text">不要完全依赖一个人，要学会自己独立行走，否则当你失去那个人的时候，你也失去了自我，无论是感情还是物质。</p>
        <span class="suiyan_4"></span></a></li>
      <li><a href="/">
        <p class="suiyan_time">2020-05-20</p>
        <p class="suiyan_text">永远不要为尚未发生的事纠结，尽最大的努力，抱最坏的打算。但行好事，莫问前程。</p>
        <span class="suiyan_3"></span></a></li>
      <li><a href="/">
        <p class="suiyan_time">2020-05-18</p>
        <p class="suiyan_text">努力是一种生活态度，与年龄无关。所以，无论什么时候，千万不可放纵自己，给自己找懒散和拖延的借口。</p>
        <span class="suiyan_2"></span></a></li>
      <li><a href="/">
        <p class="suiyan_time">2020-05-26</p>
        <p class="suiyan_text">不要完全依赖一个人，要学会自己独立行走，否则当你失去那个人的时候，你也失去了自我，无论是感情还是物质。</p>
        <span class="suiyan_4"></span></a></li>
      <li><a href="/">
        <p class="suiyan_time">2020-05-20</p>
        <p class="suiyan_text">永远不要为尚未发生的事纠结，尽最大的努力，抱最坏的打算。但行好事，莫问前程。</p>
        <span class="suiyan_3"></span></a></li>
      <li><a href="/">
        <p class="suiyan_time">2020-05-26</p>
        <p class="suiyan_text">不要完全依赖一个人，要学会自己独立行走，否则当你失去那个人的时候，你也失去了自我，无论是感情还是物质。</p>
        <span class="suiyan_4"></span></a></li>
      <li><a href="/">
        <p class="suiyan_time">2020-05-20</p>
        <p class="suiyan_text">永远不要为尚未发生的事纠结，尽最大的努力，抱最坏的打算。但行好事，莫问前程。</p>
        <span class="suiyan_3"></span></a></li>
    </ul>
  </div>
</main>
<footer>
  <p> © 2019-2020qingqingblog.com 版权所有：<a href="https://www.qingqingblog.com" target="_blank">杨青青个人博客</a></p>
  <p><span><a href="/" target="_blank">XML网站地图</a></span><span>备案号：<a href="/">津ICP备19004899</a></span><span><img src="/static/images/ga.png">公安备案号 12011602000311</span></p>
  <p></p>
</footer>
<!--footer end-->

</body>
</html>
{{end}}