{{define "wdxc.tmpl"}}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>杨青青个人博客</title>
<link href="/static/css/base.css" rel="stylesheet">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<script src="/static/js/jquery.js"></script>
<script src="/static/js/nav.js"></script>
</head>
<body>
<header>
  <div class="touxiang"><i><img src="/static/images/yangqq.png" alt="杨青青"></i>
    <h2>杨青青</h2>
    <p>一个爱好前端设计的80后女站长。</p>
  </div>
  <p class="guanzhu">关注我<img src="/static/images/wx.png" alt="杨青青个人微信号：476847113" class="weixin"></p>
  <nav>
    <ul>
      <li><a href="index">网站首页</a></li>
      <li><a href="sysy">碎言碎语</a></li>
      <li><a href="bkrj">博客日记</a></li>
      <li><a href="wdxc">我的相册</a></li>
      <li><a href="sjz">时间轴</a></li>
      <li><a href="gybz">关于博主</a></li>
      <li><a href="info">详情页</a></li>
    </ul>
  </nav>
</header>
<!--header end-->
<main>
  <p class="weizhi">您现在的位置是：<a href="/" target="_blank">网站首页</a>><a href="/" target="_blank">我的相册</a></p>
  <div class="xiangce_list">
    <ul>
      <li><a href="/"><img src="http://soutupian.ip3q.com/d/img/c05.jpg">
        <p>瀑布流</p>
        </a></li>
      <li><a href="/"><img src="http://soutupian.ip3q.com/d/img/c16.jpg">
        <p>瀑布流</p>
        </a></li>
    </ul>
    <ul>
      <li><a href="/"><img src="/static/images/002.png">
        <p>复古优美元素</p>
        </a></li>
      <li><a href="/"><img src="http://soutupian.ip3q.com/d/img/ymtp06.jpg">
        <p>瀑布流</p>
        </a></li>
    </ul>
    <ul>
      <li><a href="/"><img src="http://soutupian.ip3q.com/d/img/wm23.jpg">
        <p>瀑布流——桌面静物</p>
        </a></li>
      <li><a href="/"><img src="/static/images/001.jpg">
        <p>瀑布流</p>
        </a></li>
    </ul>
    <ul>
      <li><a href="/"><img src="/static/images/004.jpg">
        <p>疫情在家办公</p>
        </a></li>
      <li><a href="/"><img src="http://soutupian.ip3q.com/d/img/c32.jpg">
        <p>瀑布流</p>
        </a></li>
    </ul>
  </div>
</main>
<footer>
  <p> © 2019-2020qingqingblog.com 版权所有：<a href="https://www.qingqingblog.com" target="_blank">杨青青个人博客</a></p>
  <p><span><a href="/" target="_blank">XML网站地图</a></span><span>备案号：<a href="/">津ICP备19004899</a></span><span><img src="/static/images/ga.png">公安备案号 12011602000311</span></p>
  <p></p>
</footer>
<!--footer end-->

</body>
</html>
{{end}}