<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>模板继承</title>
</head>
<body>
<div class="nav"></div>
<div class="main">
    <div class="menu"></div>
    <div class="content center">
        <h1>这是index页面</h1>
        <p>hello：{{.}}</p>
    </div>

</div>

</body>
<style>
    * {
        margin: 0;
    }
    .nav {
        height: 50px;
        width: 100%;
        position: fixed;
        top: 0;
        background-color: burlywood;
    }
    .main {
        margin-top: 50px;
    }
    .menu {
        width: 20%;
        height: 100%;
        position: fixed;
        left: 0;
        background-color: cornflowerblue;
    }
    .center {
        text-align: center;
    }
</style>
</html>