{{define "index.tmpl"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>error</title>
</head>
<body>
    <h1>参数信息</h1>
    <h1>{{.Username}}</h1>
    <h1>{{.Password}}</h1>
</body>
</html>
{{end}}